    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="fw-bold mb-4">We craft technology solutions like an Italian grandmother crafts her pesto &mdash; with passion, care, and the finest of ingredients.</h1>
          <p class="lead mb-4">Admittedly, Nonna's pesto tastes much better than anything we create, but our products are guaranteed fresh and made to withstand the test of time.</p>
          <p class="mb-4">Our subsidiary, Pesto Softworks, engineers affordable, user-friendly software for the LBM industry that automates many routine business operations and improves the business performance of hardware and building supply stores.</p>
          <p>That's just one example of what we bring to the plate. Simply put, if you have a technology challenge, we're like you're Nonna cooking a holiday dinner, we guarantee satisfaction. And also like Nonna, our creations are crafted to ensure the best experience &mdash; beautifully architected, designed, and served.</p>
        </div>
        <div class="col-md-6">
          <%= image_tag('jesse.jpeg', class:"img-fluid rounded", alt: "Pesto Group") %>
        </div>
      </div>
    </div>
