	<div class="container my-5">
		<h1 class="text-center mb-5">Join Our Team</h1>
		
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<!-- Junior Developer Card -->
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Junior Developer</h5>
						<h6 class="card-subtitle mb-2 text-muted">Entry Level</h6>
						<ul class="list-group list-group-flush mb-3">
							<li class="list-group-item">HTML</li>
							<li class="list-group-item">CSS</li>
							<li class="list-group-item">JavaScript</li>
						</ul>
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div>
			</div>
			
			<!-- Mid-Level Developer Card -->
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Mid-Level Developer</h5>
						<h6 class="card-subtitle mb-2 text-muted">2-5 Years Experience</h6>
						<ul class="list-group list-group-flush mb-3">
							<li class="list-group-item">HTML</li>
							<li class="list-group-item">CSS</li>
							<li class="list-group-item">JavaScript</li>
							<li class="list-group-item">Ruby on Rails</li>
						</ul>
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div>
			</div>
			
			<!-- Senior Developer Card -->
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Senior Developer</h5>
						<h6 class="card-subtitle mb-2 text-muted">5+ Years Experience</h6>
						<ul class="list-group list-group-flush mb-3">
							<li class="list-group-item">HTML</li>
							<li class="list-group-item">CSS</li>
							<li class="list-group-item">JavaScript</li>
							<li class="list-group-item">Ruby on Rails</li>
						</ul>
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>